<h1 class="text-center mt-2">Listing all articles</h1>

<div class="container">
  <% @articles.each do |article| %>
    <div class="row  justify-content-md-center">
      <div class="col-8  mt-4">
        <div class="card text-center shadow mb-2">
          <div class="card-header font-italic">
            by: <spam class='text-muted'><%= article.user.username %></spam>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to article.title, article_path(article), class: 'text-success' %></h5>
            <p class="card-text"><%= truncate(article.description, length: 128) %></p>

            <%= link_to 'View', article_path(article), class: 'btn btn-outline-success btn-sm' %>              
            <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-outline-info btn-sm' %>                
            <%= link_to 'Delete', article_path(article), method: :delete, 
                data: {confirm: 'Shure?'}, class: 'btn btn-outline-danger btn-sm' %>

          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(article.created_at) %> ago, edited <%= time_ago_in_words(article.updated_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>