<div class="container">
  <% @users.each do |user| %>  
    <div class="row  justify-content-md-center">
      <div class="col-8  mt-4">
        <div class="card text-center shadow mb-2">
          <div class="card-header font-italic">
            <spam class='text-muted'><%= link_to user.username.capitalize, user, class: 'text-info' %></spam>
          </div>
          <div class="card-body">
            <%= link_to gravatar_for(user, size: 150), user %>
            <h5>
              <p class="card-text mt-3">
                <%= user.articles.any? ? pluralize(user.articles.count, 'article') : 'No articles' %>
              </p>
            </h5>            

            <%= link_to 'View profile', user, class: 'btn btn-outline-success btn-sm' %>
            <%= link_to 'Edit profile', edit_user_path(user), class: 'btn btn-outline-info btn-sm' %>

          </div>
          <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>