<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Alpha Blog', root_path, class: 'navbar-brand', id: 'logo' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Bloggers', users_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'About', about_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bi bi-file-earmark-text"></i> <strong> Articles </strong> 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if logged_in? %>
            <%= link_to 'Create new Article', new_article_path, class: 'dropdown-item' %>
          <% end %>
          <%= link_to 'View Articles', articles_path, class: 'dropdown-item' %>
        <div class="dropdown-divider"></div>
          <%= link_to 'Something else', '#', class: 'dropdown-item' %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bi bi-collection"></i> <strong> Categories </strong> 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if logged_in? && current_user.admin? %>
            <%= link_to 'Create new Category', new_category_path, class: 'dropdown-item' %>
          <% end %>
          <%= link_to 'View Categories', categories_path, class: 'dropdown-item' %>
      </li>
      <% if logged_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        
        <% if current_user.admin? %> 
          <i class="bi bi-shield-exclamation"></i> <strong> <%= current_user.username.capitalize %></strong>
        <% else %> 
          <i class="bi bi-person-circle"></i> <strong> <%= current_user.username.capitalize %></strong> 
        <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'View your Profile', user_path(current_user), class: 'dropdown-item' %>
          <%= link_to 'Edit your Profile', edit_user_path(current_user), class: 'dropdown-item' %>
          <%= link_to content_tag(:strong, 'Delete Profile'), user_path(current_user), 
                      method: :delete, data: { confirm: 'Are you sure?' }, 
                      class: 'dropdown-item text-danger' %>

        <div class="dropdown-divider"></div>
          <%= link_to content_tag(:strong, "Logout"), logout_path, method: :delete, class: 'dropdown-item text-danger' %>
        </div>
      </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', login_path, class: 'nav-link' %>
        </li>
      <% end %>  
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>